body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
    display: flex;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container {
    margin-top: 3%;
}

form {
    padding: 2%;
}

select {
    height: 30px;
}

#dog-image-container {
    text-align: center;
    width: 97%;
}

.align {
    text-align: center;
}

#dog {
    width: 20rem;
    height: 50vh;
}